/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */

/*
* Aquawax
================================================================================ */
@font-face {
  font-family: "Aquawax-black";
  src: url("../fonts/Aquawax/Aquawax-black.woff2") format("woff2"),
       url("../fonts/Aquawax/Aquawax-black.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Aquawax-Light";
  src: url("../fonts/Aquawax/Aquawax-Light.woff2") format("woff2"),
       url("../fonts/Aquawax/Aquawax-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Aquawax-Medium";
  src: url("../fonts/Aquawax/Aquawax-Medium.woff2") format("woff2"),
       url("../fonts/Aquawax/Aquawax-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
/* Roboto
================================================================================ */
@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto.woff2") format("woff2"),
       url("../fonts/Roboto/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}